@layer components {
  .loading {
    position: relative;
  }

  .loading::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px;
    border: 1px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* ripple effect */
  .ripple,
  .ripple:before,
  .ripple:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width:80px;
      height: 80px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
      -webkit-animation: ripple 3s infinite;
      -moz-animation: ripple 3s infinite;
      -ms-animation: ripple 3s infinite;
      -o-animation: ripple 3s infinite;
      animation: ripple 3s infinite;
  }

  .ripple:before {
      -webkit-animation-delay: .9s;
      -moz-animation-delay: .9s;
      -ms-animation-delay: .9s;
      -o-animation-delay: .9s;
      animation-delay: .9s;
      content: "";
      position: absolute;
  }

  .ripple:after {
      -webkit-animation-delay: .6s;
      -moz-animation-delay: .6s;
      -ms-animation-delay: .6s;
      -o-animation-delay: .6s;
      animation-delay: .6s;
      content: "";
      position: absolute;
  }

  @-webkit-keyframes ripple {
      70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
      100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
  }

  @keyframes ripple {
      70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
      100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
  }
}
