@import "tailwindcss";
@plugin "daisyui";

/* Custom global styles */
@layer components {
  html,
  body {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .scroll-smooth{
    scroll-behavior: smooth;
  }

  .ps {
    overflow: hidden !important;
  }

  .ps__rail-y {
    right: 2px !important;
  }

  @media (max-width: 768px) {
    html,
    body {
      overflow: auto;
    }

    .ps {
      overflow: auto !important;
    }
  }

  /* home page */
  /* hero section */
  /* nav bar */
  .header_nav {
    @apply absolute top-0 left-0 w-full z-50;
  }
  .navbar_main_div {
    @apply lg:px-22 px-5 mx-auto py-4 flex items-center justify-between border-b border-white/8;
  }
  .dropdown_options {
    @apply hover:bg-gray-100 transition;
  }
  .container_inner {
    @apply m-2.75 h-full rounded-[20px];
  }
  .container_main_div {
    @apply max-w-335 mx-auto;
  }
  .arrow_btn {
    @apply flex items-center gap-2 bg-[#FFCB05] hover:bg-white border border-white/30
         text-[#1E552A] px-2 py-1.5 rounded-full text-sm font-medium hover:border hover:border-[#1E552A] transition-all duration-300;
  }

  .arrow_btn_icon_bg {
    @apply bg-white rounded-full p-2 transition-all duration-300 border border-white group-hover:border group-hover:border-[#1E552A];
  }

  .consultation_btn {
    @apply flex items-center gap-2 bg-white hover:bg-white border border-white/30
         text-[#1E552A] px-2 py-1.5 rounded-full text-sm font-medium hover:border hover:border-[#1E552A] transition-all duration-300;
  }

  .consultation_icon_bg {
    @apply bg-[#2ECC71] group-hover:bg-white rounded-full p-2 transition-all duration-300 border border-white group-hover:border group-hover:border-[#1E552A];
  }

  /* about us section */
  .about_us {
    @apply bg-[#F8F8F8] px-4 2xl:px-0 md:py-24 py-6;
  }
  .about_us_main_div {
    @apply max-w-335 mx-auto grid lg:grid-cols-2 2xl:gap-16 gap-6 items-center;
  }
  .about_us_badge {
    @apply inline-block border border-[#1E552A] text-[#1E552A] px-4 py-2 rounded-full mb-4 font-semibold uppercase hover:bg-gray-200 transition-all duration-200 cursor-pointer;
  }
  .about_us_content {
    @apply max-w-111.25;
  }
  .about_us_heading {
    @apply text-4xl xl:text-5xl font-bold text-[#1E552A] leading-tight;
  }
  .see_all_btn {
    @apply flex items-center gap-2 bg-[#FFCB05] border border-white/30 text-[#1E552A] px-2 py-1.5 rounded-full text-sm font-medium max-w-28.75;
  }
  .see_all_btn_icon_bg {
    @apply bg-white rounded-full p-2;
  }
  .status_count {
    @apply md:text-5xl text-4xl font-light text-[#1E552A] border-b border-[#DEE2E6] pb-2;
  }
  .about_us_description {
    @apply text-[#1E552A] md:mt-11 max-w-xl;
  }
  .experience {
    @apply text-[15px] text-[#1E552A] mb-6 mt-4;
  }
  .social_icons {
    @apply flex gap-6 text-green-900 md:mt-65.75 mt-4;
  }

  /* service section */
  .service_btn {
    @apply flex items-center gap-2 bg-[#FFCB05] border border-white/30 text-[#1E552A] pl-2 pr-5 py-1.5 rounded-full text-sm font-medium cursor-pointer;
  }
  .service_section_title {
    @apply text-[#1E552A] md:text-5xl text-3xl font-bold;
  }
  .service_circle {
    @apply w-60 h-60 rounded-full bg-linear-to-b from-[#1FA63C] to-[#1E552A] flex flex-col items-center justify-center text-white p-11.5;
  }
  .service_circle_title {
    @apply mt-4 text-lg font-bold text-center;
  }
  .service_section_header {
    @apply flex md:flex-row flex-col md:justify-between md:items-center;
  }

  /* stats section */
  .stats_title {
    @apply text-5xl font-bold text-[#FFCB05] pb-2;
  }
  .stats_subtitle {
    @apply text-sm text-[#E5E7EB];
  }

  /* why section */
  .why_card_title {
    @apply text-xl font-semibold pb-3;
  }
  .why_card {
    @apply px-11 py-7 rounded-lg flex gap-6 hover:shadow-lg;
  }
  .why_card_icon_bg {
    @apply p-4 rounded-full bg-[#2ECC71]/10 min-w-16 h-16 flex items-center justify-center;
  }
  /* news section */
  .news_card_header {
    @apply inline-block border border-[#1E552A] text-[#1E552A] px-4 py-0.5 rounded-full mb-4.5 uppercase text-sm font-normal;
  }
  .news_card_title {
    @apply text-lg text-[#1E552A] font-semibold mb-6 max-w-[320px] hover:cursor-pointer;
  }
  .news_card_date {
    @apply text-sm text-[#6B7280];
  }
  .news_card_img {
    @apply rounded-2xl mb-7 h-78.75 hover:cursor-pointer;
  }
  .news_cards_div {
    @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6;
  }
  .news_card_main_div {
    @apply bg-white p-6 rounded-2xl hover:shadow-2xl transition-all duration-200;
  }
  /* footer */
  .cta_section {
    @apply h-87.5 flex items-center justify-center text-center text-white;
  }
  .bg_layer {
    @apply absolute inset-0 bg-[#1E552A4D]/70;
  }
  .cta_contents {
    @apply relative z-10 max-w-3xl px-4;
  }
  .cta_heading {
    @apply text-3xl md:text-5xl font-bold;
  }
  .cta_heading2 {
    @apply text-2xl md:text-4xl font-light mt-2;
  }
  .cta_btn_div {
    @apply flex justify-center md:mt-9 mt-6;
  }
  .newsletter_bar {
    @apply bg-[#1E552A] md:py-22.5 py-6;
  }
  .newsletter_contents {
    @apply max-w-6xl mx-auto px-4 flex flex-col md:flex-row items-center md:gap-13 gap-0 justify-center text-white;
  }
  .newslegger_text {
    @apply text-2xl font-bold;
  }
  .newsletter_input_div {
    @apply flex items-center bg-white/20 rounded-full overflow-hidden w-full md:w-[420px] mt-4 md:mt-0;
  }
  .newsletter_input {
    @apply flex-1 bg-transparent px-5 py-3 text-white placeholder-white focus:outline-none;
  }
  .newsletter_btn {
    @apply bg-white hover:bg-white/90 text-green-700 w-12 h-12 flex items-center justify-center rounded-full m-1 cursor-pointer;
  }
  .footer_contact_items {
    @apply flex items-center gap-2 mb-3 hover:cursor-pointer;
  }
  .footer_social_icons {
    @apply rounded-full border border-white/10 h-10 w-10 flex justify-center items-center cursor-pointer hover:bg-white/10 transition;
  }
  .footer_bottom_arrow {
    @apply flex gap-2 text-[15px] mt-2 items-center justify-center hover:cursor-pointer;
  }

  /* about us page styles */
  .common_hero_section {
    @apply bg-[url('/assets/common_hero_bg.png')] md:h-108.5 bg-no-repeat xl:mx-17.5 mx-4 rounded-[20px];
  }
  .common_hero_heading {
    @apply text-white lg:text-[85px] md:text-5xl text-3xl px-10 font-semibold flex justify-center items-center md:pt-35.25 pt-10 pb-10 text-center;
  }
  .common_page_container {
    @apply max-w-330 mx-auto;
  }
  .chairman_image {
    @apply sm:min-w-111.5 sm:h-134.75 rounded-lg mb-5;
  }
  .chairman_name {
    @apply text-[#1E552A] text-[32px] font-bold;
  }
  .chairman_position {
    @apply text-[22px] font-bold text-[#2D2D2D];
  }
  .chairman_company_name {
    @apply text-[#2D2D2D] font-medium text-[22px];
  }
  .chairman_message_text {
    @apply text-[#2D2D2D] font-medium;
  }
  .about_us_chairman_section {
    @apply flex lg:flex-row flex-col md:gap-13.5 gap-5 md:mb-37.5 mb-6 px-4 xl:px-0;
  }
  .key_points_list_item {
    @apply text-[#1E552A] ml-5;
  }
  .key_points_title {
    @apply font-semibold mb-4 text-lg text-[#1E552A];
  }
  .zone_text {
    @apply text-[15px] text-[#1E552A] pb-8;
  }
  .overview_card {
    @apply bg-white sm:px-13.25 px-6 sm:py-8.75 py-5 rounded-2xl border border-[#DDE4E3] hover:shadow-lg transition-all duration-200;
  }
  .overview_card_icon_bg {
    @apply bg-[#2ECC71]/10 sm:mb-12 mb-5 h-14 w-14 rounded-full;
  }
  .overview_card_title {
    @apply text-xl text-[#1E552A] font-semibold pb-5;
  }
  .about_us_stats_contents {
    @apply relative z-10 flex md:gap-10 px-8 lg:py-28.5 py-6 text-white max-w-335 mx-auto justify-center;
  }
  .about_us_stats_grid {
    @apply flex md:flex-row flex-col xl:gap-40.5 justify-between lg:gap-13 gap-6 text-center;
  }
  .about_us_stats_number {
    @apply lg:text-[56px] text-3xl font-black text-[#FFCB05] md:pb-7 pb-4;
  }
  .about_us_stats_number_text {
    @apply lg:text-lg text-white font-semibold uppercase;
  }
  .overview_cards_section_div {
    @apply md:mb-20 mb-6 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-8 gap-4 px-4 2xl:px-0;
  }
  .overview_section_div {
    @apply flex md:mb-23.75 mb-6 lg:gap-21.5 gap-6 lg:flex-row flex-col items-center px-4 2xl:px-0;
  }
  /* history section */
  .history_section {
    @apply max-w-436.5 mx-auto px-4 md:py-16 py-5;
  }
  .history_inner_div {
    @apply rounded-3xl overflow-hidden bg-[#1f5a2a] text-white;
  }
  .history_top_img {
    @apply relative h-70 lg:h-90;
  }
  .history_contacts {
    @apply px-5 lg:px-10 md:py-10 py-6 max-w-330 mx-auto;
  }
  .history_contact_title {
    @apply lg:text-[32px] text-xl font-medium lg:mb-13 mb-5;
  }
  .history_card_grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:gap-5 gap-4;
  }
  .history_card_div {
    @apply bg-[#1b4d25] rounded-2xl py-10 px-7.5 hover:shadow-lg transition-all duration-200;
  }
  .history_card_title {
    @apply font-bold mb-3 text-lg;
  }
  .history_card_text {
    @apply text-white text-[15px] leading-relaxed;
  }
  .history_timeline {
    @apply relative flex items-center justify-between mb-5 max-w-275 mx-auto;
  }
  .history_timeline_year {
    @apply relative z-10 flex flex-col items-center gap-3;
  }
  .history_timeline_year_single {
    @apply px-4 py-1 text-sm rounded-full border border-[#FFFFFF]/15 text-[#FFCB05] font-bold mb-5 hover:bg-white/10;
  }
  .history_timeline_dot {
    @apply w-2.5 h-2.5 rounded-full bg-white;
  }

  /* about meet page */
  .partner_card_img {
    @apply rounded-full h-16.25 w-16.25 md:mb-10 mb-4;
  }
  .partner_card_subtitle {
    @apply text-sm text-[#1E572B] font-medium pb-4;
  }

  /* directors page */
  .director_card_grid {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 sm:gap-6 gap-4 md:pb-25 pb-7 px-4;
  }
  .director_card_div {
    @apply bg-white sm:p-6 p-3 rounded-2xl hover:shadow-lg transition-all duration-200;
  }
  .director_card_content {
    @apply pt-4.5 flex justify-between;
  }
  .director_card_title {
    @apply text-[#1E552A] lg:text-lg font-semibold;
  }
  .director_card_subtitle {
    @apply text-[#1E552A] text-sm font-medium;
  }
  .director_card_img {
    @apply rounded-lg lg:max-h-64.5 sm:max-h-50 lg:max-w-64.5 min-w-full object-cover;
  }
  .director_card_link_img {
    @apply cursor-pointer object-cover;
  }
  .strategic_title {
    @apply font-bold lg:text-5xl text-3xl mb-6;
  }
  .leadership_section {
    @apply bg-white mx-4 rounded-[20px] lg:pt-19 pt-6 lg:pb-25 pb-6 lg:mb-25 mb-6;
  }
  .leadership_contents {
    @apply max-w-330 mx-auto flex xl:gap-19 gap-7 justify-center items-center lg:flex-row flex-col px-4;
  }
  .leadership_title {
    @apply text-xl font-semibold text-[#1E552A] pb-3;
  }

  /* why bangladesh section */
  .opportunity_card_img {
    @apply sm:mb-12 mb-5 h-14 w-14 rounded-full bg-[#FFCB0533] flex justify-center items-center;
  }
  .opportunity_card_title {
    @apply text-xl text-[#1E552A] font-semibold pb-4 mb-9 border-b border-[#DEE2E6];
  }
  .why_bd_stats_number {
    @apply text-3xl font-black text-[#FFCB05] md:pb-7 pb-4 lg:text-[44px];
  }
  .why_bd_stats {
    @apply flex md:flex-row flex-col justify-between lg:gap-13 gap-6 text-center;
  }

  /* incentive page */
  .incentive_card_title {
    @apply text-xl text-[#1E552A] font-semibold pb-5;
  }

  /* why sezl page */
  .why_sezl_stats_number {
    @apply lg:text-[44px] text-3xl font-black text-[#FFCB05] md:pb-6 pb-2;
  }
  .why_sezl_stats_text {
    @apply lg:text-lg text-[#2D2D2D] font-semibold uppercase;
  }
  .why_sezl_card {
    @apply bg-white sm:pl-10.5 pr-7 px-6 sm:py-8.75 py-5 rounded-2xl border border-[#DDE4E3] hover:shadow-lg transition-all duration-200;
  }
}

/* custom slider */
.slider .slider-animation {
  width: 3600px;
  animation: scroll 20s linear infinite;
}
.slider .slider-animation:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-1000px)
  }
}